<div class="welcome">
  <div class="top">
    <img src="/img/flag-lrg-top.png" class="flag">
  </div>
  <div class="bottom">
    <img src="/img/flag-lrg-bottom.png" class="flag">
    <h1>Finnish Music Project</h1>
    <div class="createdby">
      <h4>
        <img src="/img/fizz-bubbles.png" class="logo">
        by fizzbreaker
      </h4>
    </div>
  </div>
</div>