<div class="welcome">
  <div class="top">
    <div class="flag-parent">
      <img src="/img/flag-lrg-top@2x.png" class="flag">
    </div>
  </div>
  <div class="bottom">
    <img src="/img/flag-lrg-bottom@2x.png" class="flag">
    <h1>Finnish Music Project</h1>
    <div class="createdby">
      <h4>
        <span class="logo"></span>
        by fizzbreaker
      </h4>
    </div>
  </div>
</div>
