@blue: #3060c2;

body {
  background: #efefef;
  margin: 0;
  padding: 0;
  font-family: Myriad Pro, Myriad, Arial, sans-serif;
  font-size: 16px;
  color: @blue;
}
section, header, article, nav footer {
  display: block;
}
ul, ol {
  list-style: none;
  padding-left: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
a {
  color: @blue;
  text-decoration: none;
}

.lh {
  float: left;
  width: 30%;
  min-width: 220px;
  max-width: 250px;
}
.vert-stripe {
  float: left;
  width: 100px;
  background: @blue;
}
.horz-stripe {
  height: 100px;
  background: @blue;
  position: absolute;
  top: 250px;
  width: 100%;
}
.rh {
  float: left;
  padding: 0;
  margin-top: -19px;
  margin-left: 5%;
  max-width: 960px;
  padding-top: 400px;
}

#header {
  padding: 20px 0 0 5%;
  header {
    font-size: 2rem;
    span {
      font-size: 1rem;
      display: block;
      margin-bottom: -5px;
    }
  }
  nav ul {
    overflow: auto;
    li {
      float: left;
      margin-right: 3px;
      &:after {
        content: " | ";
      }
      &:last-child:after {
        content: "";
      }
    }
  }
}