<div class="player">
  <div class="btn play-btn disabled"></div>
  <div class="btn back-btn disabled"></div>
  <div class="btn fwd-btn disabled"></div>
  <div class="queue-status"></div>
  <div class="text">

  </div>
</div>