<div class="player">
  <a href="#" class="btn play-btn disabled"></a>
  <a href="#" class="btn back-btn disabled"></a>
  <a href="#" class="btn fwd-btn disabled"></a>
  <div class="song-status"></div>
  <div class="queue-status"></div>
  <div class="text">

  </div>
</div>