<div class="title" xmlns="http://www.w3.org/1999/html">{{ title }}</div>
<div class="artist">{{ artist }}</div>
<div class="time"><span class="current-time">0:00</span> / <span class="duration">{{ songLength }}</span></div>