{% extends "base.html" %}

{% block main %}
<section class="horz-stripe">&nbsp;</section>
<div class="pg pg-detail pg-artist">
  <article class="entry artist">
    <header>
      <a href="#" class="img">
        <img src="{{ artist.img }}" />
      </a>
      <div class="info">
        <h2>{{ artist.name }}</h2>
        <p>{{ artist.byline }} / {{ artist.location }}</p>
      </div>
    </header>
    <p>
      <ul class="ctrls">
        <li><a href="#" class="btn btn-primary"><i class="icon-music icon-white"></i> My music</a></li>
        <li><a href="{% url artists %}" class="btn"><i class="icon-list"></i> Back to artists</a></li>
      </ul>
    </p>
    <div class="desc">
      {{ artist.desc|linebreaks }}
    </div>
  </article>
</div>
{% endblock %}