<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>The Spirit of Finland</title>
  <script src="{{ STATIC_URL }}js/vendor/require-jquery.js" data-main="{{ STATIC_URL }}js/main"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
  <section class="lh full-height" id="header">
    <header>
      <h1><a href="{% url songs %}"><span>The Spirit of</span> Finland</a></h1>
      <nav>
        <ul>
          <li><a href="{% url songs %}">Music</a></li>
          <li><a href="{% url artists %}">Artists</a></li>
          <li><a href="#">Message</a></li>
        </ul>
      </nav>
    </header>
    <section class="horz-stripe">&nbsp;</section>
  </section>
  <section class="vert-stripe full-height">&nbsp;</section>
  <section class="rh full-height" id="main">
    {% block main %}{% endblock %}
  </section>
</body>
</html>