<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>The Spirit of Finland</title>
  <script src="{{ STATIC_URL }}js/vendor/require-jquery.js" data-main="{{ STATIC_URL }}js/main"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />

  <link rel="stylesheet" href="{{ STATIC_URL }}css/not.the.skin.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/circle.skin/circle.player.css">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/circleplayer/jquery.transform.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/circleplayer/jquery.grab.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/circleplayer/jquery.jplayer.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/circleplayer/mod.csstransforms.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/circleplayer/circle.player.js"></script>

</head>
<body>
  <div id="jquery_jplayer_1" class="cp-jplayer"></div>
  {% block main %}{% endblock %}
</body>
</html>