{% extends "base.html" %}

{% block main %}
<div class="pg pg-song">
  <article class="song">
    <header>
      <a href="#" class="album">
        <img src="{{ song.art }}" />
      </a>
      <div class="info">
        <h2><a href="#">{{ song.title }}</a></h2>
        <p>{{ song.byline }} / <a href="#">{{ song.artist.name }}</a></p>
      </div>
    </header>
    <p>
      <ul class="ctrls">
        <li><a href="{{ song.file }}" class="btn btn-primary"><i class="icon-play icon-white"></i> Play</a></li>
        <li><a href="{{ song.file }}" class="btn btn-primary"><i class="icon-download-alt icon-white"></i> Download</a></li>
      </ul>
    </p>
    <p>
      {{ song.desc|linebreaks }}
    </p>
  </article>
</div>
{% endblock %}