{% extends "base.html" %}

{% block main %}
<div class="container">
  <div id="cube-wrapper">
    <div id="cube">
      <div class="face one">
        One face
      </div>
      <div class="face two">
        Up, down, left, right
      </div>
      <div class="face three">
        Lorem ipsum.
      </div>
      <div class="face four">
        New forms of navigation are fun.
      </div>
      <div class="face five">
        Rotating 3D cube
      </div>
      <div class="face six">
        More content
      </div>
    </div>
  </div>
</div>
<script>
  var xAngle = 0, yAngle = 0;
  document.addEventListener('keydown', function(e)
  {
    switch(e.keyCode)
    {

      case 37: // left
        yAngle -= 90;
        break;

      case 38: // up
        xAngle += 90;
        break;

      case 39: // right
        yAngle += 90;
        break;

      case 40: // down
        xAngle -= 90;
        break;
    };

    document.getElementById('cube').style.webkitTransform = "rotateX("+xAngle+"deg) rotateY("+yAngle+"deg)";
  }, false);
</script>
{% endblock %}