{% extends "base.html" %}

{% block main %}
<section class="horz-stripe">&nbsp;</section>
<div class="pg pg-songs">
  <ul>
    {% for s in songs %}
    <li class="song" data-id="{{ song.id }}">
      <header>
        <a href="{% url song s.title_slug %}" class="album">
          <img src="{{ s.art }}" />
        </a>
        <div class="info">
          <h2><a href="{% url song s.title_slug %}">{{ s.title }}</a></h2>
          <p>{{ s.byline }} / <a href="#">{{ s.artist.name }}</a></p>
        </div>
      </header>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}