@import vars
@import nib

body
  padding 0
  margin 0
  color #fff

h1, h2, h3, h4, h5, h6
  font-family headerFont
  text-transform uppercase

.container
  height (1136/2)px
  width (640/2)px
  border 1px solid red
  background #ababab

  img
    max-width 100%

.welcome-container
  position absolute
  top 0
  left 0

.welcome
  border 1px solid green
  height (1136/2)px
  width (640/2)px
  text-align center
  h1
    font-size 1.5em

  .top
  .bottom
    position absolute
    left 0
    width (640/2)px
    height ((1136/2)/2)px
    background url(/img/blue-weave-bg.png)

    &.transitional
      transition all 800ms linear

    .flag
      width 640px
      max-width 100%
      margin 0 auto

  .top
    top 0

    .flag-parent
      position absolute
      bottom -4px // dunno why this isn't 0
      width 100%

  .bottom
    top ((1136/2)/2)px

    .createdby
      margin-top 45px
      h4
        font-size .75em
        text-transform none
      .logo
        vertical-align middle
        width (25/2)px
        height (37/2)px
        margin-right 10px

// admin
.fluid-container
  max-width 960px
  margin 0 auto
.navbar
  font-family headerFont
  text-transform uppercase
  .brand span
    color lightblue
.song-row
  margin-bottom 1em



