@import vars
@import mixins
@import nib

body
  padding 0
  margin 0
  color #fff
  background url(../img/square-mess-bg.jpg)
  font-family sans-serif

  &.welcomed
    min-height 640px
    background url(../img/square-mess-bg.jpg)
    background url(../img/vert-bar-bg.png) 25% 0 repeat-y, url(../img/square-mess-bg.jpg)

h1, h2, h3, h4, h5, h6
  font-family headerFont
  text-transform uppercase

.container
  height (1136/2)px
  width (640/2)px

  img
    max-width 100%

.welcome-container
  position absolute
  top 0
  left 0
  z-index 100

.welcome
  border 1px solid green
  height (1136/2)px
  width (640/2)px
  text-align center
  h1
    font-size 1.5em

  .top
  .bottom
    position absolute
    left 0
    width (640/2)px
    height ((1136/2)/2)px
    background url(/img/blue-weave-bg.png)

    &.transitional
      transition all 800ms linear

    .flag
      width 640px
      max-width 100%
      margin 0 auto

  .top
    top 0

    .flag-parent
      position absolute
      bottom -4px // dunno why this isn't 0
      width 100%

  .bottom
    top ((1136/2)/2)px

    .createdby
      margin-top 45px
      h4
        font-size .75em
        text-transform none
      .logo
        display inline-block
        vertical-align middle
        width 13px
        height 19px
        margin-right 5px
        background-repeat no-repeat
        background-position center
        image("../img/fizz-bubbles.png", 13px, 19px);

.header
  background url(/img/blue-weave-dark-bg.png)
  padding 20px 0
  box-shadow 3px 3px 4px rgba(0,0,0,.5), -3px 3px 4px rgba(0,0,0,.5)
  overflow hidden
  a
    text-decoration none
    color inherit

  h2
    font-size 1.3em
    text-shadow 1px 1px 3px #000
    margin 0 0 0 17px
    color lightblue
    vertical-align middle
    white-space no-wrap
    span
      color #fff

  .flag
    display inline-block
    width 35px
    height 23px
    background-repeat no-repeat
    background-position bottom center
    margin-bottom -4px
    image("../img/flag.png", 35px, 23px);

@media screen and (max-width: 320px)
  .header
    h2
      text-align center
      margin 0
    .flag
      display none

.artist-list ul
  padding 0
  margin 0 0 130px 0
  list-style none

  li
    photoish()

    img
      border-radius 4px

.artist-detail
  .img-frm
    photoish()
    margin 20px 2%
    position relative

    &.info
      cursor pointer

    &.info:after
      content ''
      height 23px
      width 23px
      display block
      position absolute
      bottom 7px
      right 4px
      image("../img/info-btn.png", 23px, 23px)

    &.intro
      color blue
      text-align right

  .bio
    height 0
    line-height 0
    font-size 0
    color offBlack
    transition all 50ms linear

    &.expanded
      height auto
      line-height 14px
      font-size 14px
      transition all 200ms linear

  .horz-bar
    background blue
    padding 10px 2%
    h1
      margin 0
      text-align right
      text-shadow 1px 1px 2px rgba(0,0,0,.5)

  .content-area
    list-style none
    margin 20px 2% 130px 2%
    padding 0
    background blue
    border-radius 8px
    background url(../img/blue-weave-bg.png)

    li
      line-height 30px
      padding 3px 5px
      overflow hidden
      border-bottom 1px solid darkBlueSeparator
      border-top 1px solid lightBlueSeparator
      text-shadow -1px -1px 1px rgba(0,0,0,.6)

      &:first-child
        border-top none

      &:last-child
        border-bottom none

    .icon
      display inline-block
      height 30px
      width 30px
      overflow hidden
      text-indent -999em
      background-repeat no-repeat
      background-position center

      &.play
        image("../img/play-btn.png", 11px, 12px)
        margin 0 10px 0 10px
      &.add
        image("../img/plus-btn.png", 12px, 11px)
        float right
        margin-right 10px
      &.download
        image("../img/download-btn.png", 15px, 12px)
        float right
        margin-right 10px

    .title
      cursor pointer

      &.first
        margin-left 10px



.player
  position fixed
  z-index 2
  bottom 0
  left 0
  width 320px
  height 122px
  background-repeat no-repeat
  background-position left bottom
  image("../img/player-bg.png", 320px, 122px)
  -moz-user-select none
  -khtml-user-select none
  -webkit-user-select none
  -o-user-select none

  .btn
    cursor pointer
    position absolute
    background-repeat no-repeat
    background-position center

    &.disabled
      opacity .4

  .play-btn
    z-index 6
    bottom 39px
    left 21.5px
    height 65px
    width 82px
    image("../img/player-play-btn.png", 82px, 65px)

    &:active
      image("../img/player-play-btn-active.png", 82px, 65px)

    &.pausable
      image("../img/player-pause-btn.png", 82px, 65px)

      &:active
        image("../img/player-pause-btn-active.png", 82px, 65px)

  .back-btn
    z-index 5
    bottom 9px
    left 2px
    height 30px
    width 60px
    image("../img/player-back-btn.png", 60px, 30px)

  .fwd-btn
    z-index 5
    bottom 9px
    left 62px
    height 30px
    width 57px
    image("../img/player-fwd-btn.png", 57px, 30px)

  .text
    position absolute
    top 44px
    left 135px
    z-index 4
    font-size 12px
    line-height 18px
    color lightblue

  .song-status
  .queue-status
    position absolute
    right 48px
    text-align right
    z-index 4
    font-size 10px
    line-height 10px
    color #ababab

  .queue-status
    bottom 15px

  .song-status
    bottom 77px

@media screen and (min-width: 590px)
  .artist-list ul li
    display inline-block


.admin-pg
  background #272B30

// admin
.fluid-container
  max-width 960px
  margin 0 auto
.navbar
  font-family headerFont
  text-transform uppercase
  .brand span
    color lightblue
.song-row
  margin-bottom 1em



