body {
  padding: 0;
  margin: 0;
  color: #fff;
  background: url("../img/square-mess-bg.jpg");
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}
.container {
  height: 568px;
  width: 320px;
}
.container img {
  max-width: 100%;
}
.welcome-container {
  position: absolute;
  top: 0;
  left: 0;
}
.welcome {
  border: 1px solid #008000;
  height: 568px;
  width: 320px;
  text-align: center;
}
.welcome h1 {
  font-size: 1.5em;
}
.welcome .top,
.welcome .bottom {
  position: absolute;
  left: 0;
  width: 320px;
  height: 284px;
  background: url("/img/blue-weave-bg.png");
}
.welcome .top.transitional,
.welcome .bottom.transitional {
  -webkit-transition: all 800ms linear;
  -moz-transition: all 800ms linear;
  -o-transition: all 800ms linear;
  -ms-transition: all 800ms linear;
  transition: all 800ms linear;
}
.welcome .top .flag,
.welcome .bottom .flag {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}
.welcome .top {
  top: 0;
}
.welcome .top .flag-parent {
  position: absolute;
  bottom: -4px;
  width: 100%;
}
.welcome .bottom {
  top: 284px;
}
.welcome .bottom .createdby {
  margin-top: 45px;
}
.welcome .bottom .createdby h4 {
  font-size: 0.75em;
  text-transform: none;
}
.welcome .bottom .createdby .logo {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 19px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/fizz-bubbles.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .welcome .bottom .createdby .logo {
    background-image: url("../img/fizz-bubbles@2x.png");
    -webkit-background-size: 13px 19px;
    -moz-background-size: 13px 19px;
    background-size: 13px 19px;
  }
}
.header {
  background: url("/img/blue-weave-dark-bg.png");
  padding: 20px 0;
  -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.5), -3px 3px 4px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 4px rgba(0,0,0,0.5), -3px 3px 4px rgba(0,0,0,0.5);
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header h2 {
  font-size: 1.3em;
  text-shadow: 1px 1px 3px #000;
  margin: 0 0 0 17px;
  color: #add8e6;
  vertical-align: middle;
}
.header h2 span {
  color: #fff;
}
.header .flag {
  display: inline-block;
  width: 35px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: -4px;
  background-image: url("../img/flag.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .header .flag {
    background-image: url("../img/flag@2x.png");
    -webkit-background-size: 35px 23px;
    -moz-background-size: 35px 23px;
    background-size: 35px 23px;
  }
}
.artist-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.artist-list ul li {
  margin: 7px 2%;
  max-width: 96%;
  border: 10px solid #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 3px #000;
  box-shadow: 2px 2px 3px #000;
  background: #fff;
}
.artist-list ul li .img {
  display: block;
  margin: 0 auto;
}
.artist-list ul li img {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.artist-detail .img-frm {
  margin: 7px 2%;
  max-width: 96%;
  border: 10px solid #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 3px #000;
  box-shadow: 2px 2px 3px #000;
  background: #fff;
  margin: 20px 2%;
  position: relative;
}
.artist-detail .img-frm .img {
  display: block;
  margin: 0 auto;
}
.artist-detail .img-frm.info {
  cursor: pointer;
}
.artist-detail .img-frm.info:after {
  content: '';
  height: 23px;
  width: 23px;
  display: block;
  position: absolute;
  bottom: 7px;
  right: 4px;
  background-image: url("../img/info-btn.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .artist-detail .img-frm.info:after {
    background-image: url("../img/info-btn@2x.png");
    -webkit-background-size: 23px 23px;
    -moz-background-size: 23px 23px;
    background-size: 23px 23px;
  }
}
.artist-detail .bio {
  height: 0;
  line-height: 0;
  font-size: 0;
  color: #262727;
  -webkit-transition: all 50ms linear;
  -moz-transition: all 50ms linear;
  -o-transition: all 50ms linear;
  -ms-transition: all 50ms linear;
  transition: all 50ms linear;
}
.artist-detail .bio.expanded {
  height: auto;
  line-height: 14px;
  font-size: 14px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.artist-detail .horz-bar {
  background: #0a88d9;
  padding: 10px 2%;
}
.artist-detail .horz-bar h1 {
  margin: 0;
  text-align: right;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.artist-detail .song-list {
  list-style: none;
  margin: 20px 2% 0 2%;
  padding: 0 0 20px 0;
  background: #0a88d9;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: url("../img/blue-weave-bg.png");
}
.artist-detail .song-list li {
  line-height: 30px;
  padding: 3px 5px;
  overflow: hidden;
  border-bottom: 1px solid #1192e2;
  border-top: 1px solid #45bdf9;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.6);
}
.artist-detail .song-list li:first-child {
  border-top: none;
}
.artist-detail .song-list .icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-position: center;
}
.artist-detail .song-list .icon.play {
  background-image: url("../img/play-btn.png");
  margin: 0 10px 0 10px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .artist-detail .song-list .icon.play {
    background-image: url("../img/play-btn@2x.png");
    -webkit-background-size: 11px 12px;
    -moz-background-size: 11px 12px;
    background-size: 11px 12px;
  }
}
.artist-detail .song-list .icon.add {
  background-image: url("../img/plus-btn.png");
  float: right;
  margin-right: 10px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .artist-detail .song-list .icon.add {
    background-image: url("../img/plus-btn@2x.png");
    -webkit-background-size: 12px 11px;
    -moz-background-size: 12px 11px;
    background-size: 12px 11px;
  }
}
.artist-detail .song-list .icon.download {
  background-image: url("../img/download-btn.png");
  float: right;
  margin-right: 10px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .artist-detail .song-list .icon.download {
    background-image: url("../img/download-btn@2x.png");
    -webkit-background-size: 15px 12px;
    -moz-background-size: 15px 12px;
    background-size: 15px 12px;
  }
}
.player {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 122px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: url("../img/player-bg.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .player {
    background-image: url("../img/player-bg@2x.png");
    -webkit-background-size: 320px 122px;
    -moz-background-size: 320px 122px;
    background-size: 320px 122px;
  }
}
.player .btn {
  cursor: pointer;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}
.player .play-btn {
  z-index: 6;
  bottom: 39px;
  left: 21.5px;
  height: 65px;
  width: 82px;
  background-image: url("../img/player-play-btn.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .player .play-btn {
    background-image: url("../img/player-play-btn@2x.png");
    -webkit-background-size: 82px 65px;
    -moz-background-size: 82px 65px;
    background-size: 82px 65px;
  }
}
.player .play-btn.pausable {
  background-image: url("../img/player-pause-btn.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .player .play-btn.pausable {
    background-image: url("../img/player-pause-btn@2x.png");
    -webkit-background-size: 82px 65px;
    -moz-background-size: 82px 65px;
    background-size: 82px 65px;
  }
}
.player .back-btn {
  z-index: 5;
  bottom: 9px;
  left: 2px;
  height: 30px;
  width: 60px;
  background-image: url("../img/player-back-btn.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .player .back-btn {
    background-image: url("../img/player-back-btn@2x.png");
    -webkit-background-size: 60px 30px;
    -moz-background-size: 60px 30px;
    background-size: 60px 30px;
  }
}
.player .fwd-btn {
  z-index: 5;
  bottom: 9px;
  left: 62px;
  height: 30px;
  width: 57px;
  background-image: url("../img/player-fwd-btn.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .player .fwd-btn {
    background-image: url("../img/player-fwd-btn@2x.png");
    -webkit-background-size: 57px 30px;
    -moz-background-size: 57px 30px;
    background-size: 57px 30px;
  }
}
.player .text {
  position: absolute;
  top: 44px;
  left: 135px;
  z-index: 4;
  font-size: 12px;
  line-height: 18px;
  color: #add8e6;
}
.player .queue-status {
  position: absolute;
  bottom: 15px;
  right: 48px;
  z-index: 4;
  font-size: 10px;
  line-height: 10px;
  text-align: right;
  color: #ababab;
}
.admin-pg {
  background: #272b30;
}
.fluid-container {
  max-width: 960px;
  margin: 0 auto;
}
.navbar {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}
.navbar .brand span {
  color: #add8e6;
}
.song-row {
  margin-bottom: 1em;
}
