@import vars

body
  padding 0
  margin 0
  color #fff

h1, h2, h3, h4, h5, h6
  font-family headerFont
  text-transform uppercase

.container
  height (1136/2)px
  width (640/2)px
  border 1px solid red

  img
    max-width 100%


.welcome
  background url(/img/blue-weave-bg.png)
  height (1136/2)px // todo: mk dynamic
  text-align center
  h1
    font-size 1.5em

  .top
  .bottom
    position relative


  .top
    height 50%
    width 100%
    .flag
      position absolute
      bottom 0
      left 0
  .bottom
    height 50%
    width 100%

    .createdby
      margin-top 45px
      h4
        font-size .5em
        text-transform none
      .logo
        vertical-align middle
        width (25/2)px
        height (37/2)px
        margin-right 10px



