doctype 5
html(ng-app='finnadmin')
  head
    title Admin - Finnish Music Project
    link(rel='stylesheet', href='/css/bootstrap/bootstrap-cerulean.css')
    link(rel='stylesheet', href='/css/bootstrap/responsive.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400')
  body.admin-pg(ng-controller='RouterCtrl')
    div.navbar
      div.navbar-inner
        div.fluid-container
          a(href='/admin').brand
            span Finn
            |Admin
          //
            ul.nav
              li
                a(href='/admin/artist')
                  i.icon-user.icon-white
                  |  Artists


    .fluid-container
      .row-fluid
        .span12(ng-view)
          block content

    block scripts
      script(src='/js/vendor/angular.js')
      script(src='/js/vendor/jquery.js')
      script(src='/js/vendor/underscore.js')
      script(defer, src='/js/admin/admin.js')