doctype 5
html
  head
    title Admin - Finnish Music Project
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400')
  body
    .container
      h1 Admin
      block content
