<header class="header">
  <h2>
    <span>Finnish</span> Music Project
    <span class="flag"></span>
  </h2>
</header>
<div class="artist-list">
  <ul>
    {{#each this}}
      <li><a href="#artists/{{ slug }}"><img src="{{ photo }}" class="img" /></a></li>
    {{/each}}
  </ul>
</div>