<header class="header">
  <h2>
    <span>Finnish</span> Music Project
    <img src="/img/flag-sm.png" height="22.5" width="39.5" />
  </h2>
</header>
<div class="artist-list">
  <ul>
    {{#each this}}
      <li><a href="#artists/{{ slug }}"><img src="{{ photo }}" /></a></li>
    {{/each}}
  </ul>
</div>