<header class="header">
  <h2>
    <a href="#">
      <span>Finnish</span> Music Project
      <img src="/img/flag-sm.png" height="22.5" width="39.5" />
    </a>
  </h2>
</header>
<div class="artist-detail">
  <div class="img-frm">
    <img src="{{ photo }}" />
  </div>
  <div class="horz-bar">
    <h1>{{ name }}</h1>
  </div>
  <ul class="song-list">
    {{#each songs}}
      <li>
        <a href="#" class="icon play">Play</a>
        <span class="title">{{ title }}</span>
        <a href="#" class="icon add">Add to Playlist</a>
        <a href="#" class="icon download">Download</a>
      </li>
    {{/each}}
  </ul>
</div>